@media screen and (min-width: 640px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        margin-bottom: auto;
    }

    .title-cards {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px
    }


    h1 {
        font-size: 2.0rem;
        max-width: fit-content;
    }

    #banner {
        grid-column: 1 / 3;
    }

    .site-instr {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .perio {
        grid-column: 1 / 2;
    }

    .preventive {
        grid-column: 2 / 3;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        margin: 10px 0;
    }

    .nav-items {
        display: flex;
        font-size: 0.85em;
    }

    .nav-items li {
        flex: 1 1 100%;
    }

    .nav-items.show li {
        display: block;
    }

    .nav-items li {
        display: block;
    }

    #hamburger {
        display: none;
    }

    #content-box {
        grid-column: 1 / 3;
    }
}