* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

header, footer {
    background: #008cba;
    min-height: 4rem;
    text-align: center;
    border-radius: 6px;
    padding-top: 1rem;
}

.prf .form-desc {
    padding-left: 5px;
    color: navy;
}

.prf fieldset {
    margin: 1rem 0;
    padding: .5rem 1rem;
    background: lightblue;
    border-radius: 6px;
}

.prf label, div {
    display: block;
    color: navy;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.prf .check {
    color: black;
    font-weight: 400;
}

.prf select, .prf input[type="date"], .prf input[type="text"],  .prf textarea {
    display: block;
    border: 2px solid navy;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    background: #ddd;
    color: #005;
}

.prf input[type="submit"] {
    width: 96%;
    max-width: 400px;
    background: #008cba;
    color: black;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px #005f73;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 1rem 0;
    margin: 1rem 2% 2rem 2%;
    text-transform: uppercase;
    font-weight: 700;
}

.prf input[type="submit"]:hover {
    box-shadow: 0 3px #005f73;
    transform: translateY(2px);
}

.prf input[type="submit"]:active {
    box-shadow: 0 1px #005f73;
    transform: translateY(2px);
}

option:not(:first-child) {
    text-transform: capitalize;
}

.prf .asterisk {
    color: #000;
    font-size: 1.5rem;
}

.prf input:required, .prf select:required {
    background: #fdd;
    color: black;
    font-weight: bold;
}

.prf input:required:valid, .prf select:required:valid {
    background: #dfd;
}

.prf input[type="checkbox"] {
    margin-top: .75rem;
}

.prf .rating-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.2rem;
}


@media screen and (max-width: 480px) {
    .prf select, .prf input[type="date"]  {
        max-width: 200px;
    }

    .prf input[type="text"],  .prf textarea {
        max-width: 250px;
    }

    .prf .rating-div {
        flex-direction: column;
    }

    .prf input[type="radio"] {
        margin-top: .75rem;
    }
}

